<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31159783168-7gsedgphe9a4m6nglep929c31ctsep3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31159783168-7gsedgphe9a4m6nglep929c31ctsep3o</string>
	<key>API_KEY</key>
	<string>AIzaSyCbwDKpHEx9mthD1f8gex4YTPU8FEa5tow</string>
	<key>GCM_SENDER_ID</key>
	<string>31159783168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lexmashkov.pointRivals</string>
	<key>PROJECT_ID</key>
	<string>point-rivals</string>
	<key>STORAGE_BUCKET</key>
	<string>point-rivals.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31159783168:ios:b2ffac1a18829e95276de5</string>
</dict>
</plist>
